computer vision/indian sign language/Indian/
computer vision/indian sign language/data/
computer vision/rice classification/data/
computer vision/cifar10/data/
computer vision/number plate detection/data/

natural language processing/summarization/data/
natural language processing/spam filter/data/